@scope (app-recipes-list) to (app-recipe-card, app-recipe-card-old) {
    :scope {
        display: block;
    }

    p {
        font-style: italic;
    }
    
    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        gap: 1rem;
    }
}
