<app-my-header></app-my-header>
<main>
    <h2>Scoping Styles: the &#64;scope rule</h2>
    <p>
        A <strong>scope</strong> is a subtree or fragment of a document, which can be used by selectors for more targeted matching. A scope is formed by determining:
    </p>
    <ul>
        <li>The scoping root node, which acts as the upper bound of the scope, and optionally:</li>
        <li>The scoping limit elements, which act as the lower bounds.</li>
    </ul>
    <p>
        Source: 
        <a target="_blank" href="https://www.w3.org/TR/css-cascade-6/">
            CSS Cascading and Inheritance Level 6 (W3C Working Draft)
        </a>
    </p>
    <h2>Demo: Comparing CSS scoping and Angular View Encapsulation</h2>
    <app-recipes-list [items]="recipes" />
</main>
